@import "tailwindcss";

@theme inline {
  --color-main: #12141d;
  --color-card: #1a1d27;
  --color-accent-primary: #7b1f35;
  --color-accent-hover: #5c1728;
  --color-text-primary: #f8fafc;
  --color-text-secondary: #94a3b8;
}
html {
  scroll-behavior: smooth;
}
body {
  @apply bg-main text-text-primary antialiased;
}
