@import "tailwindcss";

@theme inline {
  --color-main: #12141d;
  --color-card-primary: #1a1d27;
  --color-card-secondary: #19253b;
  --color-accent-primary: #7b1f35;
  --color-accent-hover: #5c1728;
  --color-text-primary: #f8fafc;
  --color-text-secondary: #94a3b8;
  --color-text-tertiary: #7b1f35;

  --animate-spin-slow: spin 8s linear infinite;
  --animate-spin-reverse-slow: spin-reverse 10s linear infinite;
  --animate-spin-medium: spin 6s linear infinite;
  --animate-spin-reverse-medium: spin-reverse 6s linear infinite;

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes spin-reverse {
    to {
      transform: rotate(-360deg);
    }
  }
}
html {
  scroll-behavior: smooth;
}
body {
  @apply bg-main text-text-primary antialiased;
}

.dynamic-container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 768px) {
  .dynamic-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 1024px) {
  .dynamic-container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
